body {
  margin: 0;
  width: 120px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background: #EDEDED;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background: #ef7e1e;
}

#message {
  text-align: center;
  margin: 10px;
  font-size: 12px;
}

.dl-image {
  display: block;
  margin: 0 auto;
  width: 83px;
  height: 118px;
}

.dl-link {
  line-height: 30px;
  text-decoration: none;
}

.dl-link:hover {
  color: #f07306;
  text-decoration: underline;
}

.dl-progress {
  margin: 0 auto 10px auto;
  width: 83px;
  height: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #ddd inset;
  text-align: left;
}

.dl-progress span {
  margin: 0;
  display: inline-block;
  width: 0;
  height: 10px;
  padding-bottom: 10px;
  background-color: #ef7e1e;
}
